<div class="signup-form">
   <form action="/login" method="POST">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="youremail@example.com">


      <br><br>

      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
      <br>
      {{#if errorMessage }}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}

      <button type="submit">Login</button>
      <br>
      <label for="">OR</label>
   </form>

   <br>
   <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn">
         <span class="icon"></span>
         <span class="buttonText"><a href="/auth/google">Login with Google</a></span>
      </div>
   </div>
   <hr>
   <a href="/auth/facebook" class="fb btn"><i class="fa fa-facebook fa-fw"></i>Login With Facebook</a>
</div>