<div class="signup-form">
  <h2>Register</h2>


  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <form action="/signup" method="POST" id="form-container" enctype="multipart/form-data">
    <label for="username">Your name:</label>
    <input id="username" type="text" name="username" placeholder="JonSnow" required>

    <br><br>

    <label for="email">Email:</label>
    <input id="email" type="email" name="email" placeholder="youremail@example.com" required>


    <br><br>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Your password" minlength="8" maxlength="16" title="Password needs to have at least 8 chars and must contain at least one number, one lowercase and one uppercase letter." pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>

    <br><br>

    <label for="isBakery">I sell pan: </label>
    <input name="isBakery" type="checkbox" id="isBakery">


    <br><br>

    <label for="cities-input">Select the city or cities where people can find you</label>
    <p>To choose more than one city, press ctrl and click</p>
    <select name="citiesWhereFound" multiple>
      <option disable selected></option>
      {{#each allCities}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <br><br>

    <label> Description: </label>
    <textarea type="text" name="description" cols="40" rows="8"></textarea>


    <br><br>

    <label for="image-input">Image:</label>
    <input type="file" name="profileImageUrl" id="image-input" class="form-control-file" />

    <br><br>

    <label for="">Enter the longitude and latitude of the main bakery</label>
    <input type="number" name="longitude" id="" placeholder="Here goes Longitude. Example: -99.222508">
    <input type="number" name="latitude" placeholder="Here goes Latitude. Example: 18.964059">

    <br><br>

    <button>Create account</button>

    <br>
    <div class="login-social-media">
      <p class="account-message">
        Already an user?
        <a href="/login">Login</a>
      </p>
    </div>
  </form>
</div>

