@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;541&family=Open+Sans+Condensed:wght@300&family=Rampart+One&family=Lora:ital,wght@1,400;1,500&display=swap');

@keyframes shadow-drop-2-br{0%{box-shadow:0 0 0 transparent}100%{box-shadow:0 0 18px rgba(0,0,0,.5)}}
@keyframes heartbeat{from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.91);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.87);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav, ul, .main-container, .signup-form, form, .info-index, .username-and-image, .each-panes > div, .my-profile-image-and-description, .reviews-space {
  display: flex;
  align-items: center;
}

.index-card, .visit-profile, .visit-profile > div, .each-panes {
  display: flex;
  box-sizing: border-box;
}

nav, .main-container, input, select, textarea, .index-profile, .info-index article, .info-index p, .visit-profile, .each-panes > div, 
.my-profile-image-and-description, .my-profile-panes-and-reviews, .my-profile-map, #mymap {
  width: 100%;
}

.signup-form, form, .info-index, .visit-profile > div, .each-panes, .reviews-space {
  flex-direction: column;
}

.visit-profile > div:nth-child(2), .visit-profile > div:nth-child(3), .reviews-space {
  overflow-y: scroll;
}

nav {
  justify-content: space-between;
  height: 60px;
  background-color: rgba(184, 184, 184, 0.589);
}

a {
  text-decoration: none;
}

nav h2 a{
  font-size: 2rem;
  font-family: 'Rampart One', cursive;
  color: rgb(179, 106, 23);
  margin-left: 50px;
}


ul {
  list-style-type: none;
  width: 40%;
  justify-content: space-evenly;
  margin-right: 50px;
}

ul li {
  font-family: 'Cinzel', serif;
  font-size: 1.3rem;
  font-weight: 541;
  position: relative;
}

.main-container {
  min-height: 500px;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.signup-form {
  width: 550px;
  margin: 30px 0;
  justify-content: space-evenly;
  border-radius: 10px;
  min-height: 499px;
}

form {
  width: 90%;
  justify-content: center;
}

input {
  display: block;
  height: 30px;
  margin-top: 5px;
}

select {
  display: block;
  height: 80px;
}

label {
  font-family: 'Cinzel', serif;
  font-weight: 541;
  font-size: 1.1rem;
}

textarea {
  resize: none;
  display: block;
}

button {
  padding: 10px;
  font-family: "Lucila Grande";
  font-size: 1.2rem;
  width: 50%;
  margin: auto;
  animation: heartbeat 1.5s ease-in-out infinite both;
} 

.index-profile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.image-and-title {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
}

.image-and-title > p {
  position: relative;
  top: -45px;
  background-color: rgba(0, 0, 0, 0.808);
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.index-card {
  width: 45%;
  height: 250px;
  margin: 20px 0;
  justify-content: space-between;
  border-radius: 30px;
  overflow: hidden;
}

.index-card:hover {
  animation: shadow-drop-2-br .4s cubic-bezier(.25,.46,.45,.94) both;
}

.info-index {
  justify-content: space-between;
  width: 55%; 
  height: 100%;
  box-sizing: border-box;
}

.info-index article {
  text-align: right;
  margin: 7px 20px 0 0;
}

.info-index a {
  width: 70%;
  padding: 10px 30px;
  background-color: rgba(30, 210, 201, 0.527);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.356);
  font-family: 'Lora', serif;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: .9rem;
  line-height: 20px;
}

.info-index a:hover {
  background-color: rgb(30, 210, 201);
}

.empty {
  text-align: center;
  width: 100%;
  height: 30px;
  margin: auto;
}

.user-image {
  width: 40px;
  height: 40px;
}

.username-and-image {
  width: 20%;
  height: 100%;
  justify-content: space-around;
}


.title {
  font-size: 2rem;
  font-family: 'Lora', serif;
  font-weight: 500;
  text-shadow: 5px 7px 5px grey;
}

.visit-profile {
  justify-content: space-around;
  height: 500px;
}

.visit-profile > div {
  width: 25%;
  height: 100%;
}

.visit-profile > div > img {
  height: 100%;
}

.title-info {
  width: 50%;
  margin: 10px 0;
}

.title-info > h2 {
  text-align: center;
  margin-bottom: 23px;
}

.title-info > p {
  margin-bottom: 20px;
  letter-spacing: .5px;
  line-height: 20px;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px;
  background: #e7e7e7;
  box-shadow: 12px 12px 62px #bebebe,
  -12px -12px 62px #ffffff;
  border-radius: 10px;
}

.visit-profile > div:nth-child(2) {
  height: 100%;
  min-height: 400px;
  flex-grow: 2;
  flex-flow: column wrap;
  justify-content: center;
  padding-left: 10px;
  margin-right: 10px;
}

.visit-profile > div:nth-child(2)::-webkit-scrollbar{
  width: 5px;
}

.visit-profile > div:nth-child(2)::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.visit-profile > div:nth-child(2)::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  height: 10px;
}

.each-panes {
  justify-content: space-around;
  width: 46%;
  height: 160px;
  margin: 5px;
}

.each-panes img {
  width: 30%;
  height: 100%;
}

.each-panes h3 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Lora', serif;
  font-weight: 400;
}

.each-panes > div {
  text-align: center;
  height: 120px;
  box-shadow: 12px 12px 20px -12px rgba(0,0,0,.55);
}

.each-panes:nth-child(even) {
  flex-direction: column;
}

.my-profile-info {
  width: 50%;
}

.my-profile-info h2 {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0;
}

.my-profile-image-and-description {
  justify-content: space-around;
  height: 400px;
}

.my-profile-image-and-description img {
  height: 100%;
  width: 20%;
}

.my-profile-image-and-description > p {
  width: 40%; 
  font-size: 1.5rem;
  text-shadow: 5px 7px 5px grey;
}
.my-profile-panes-and-reviews {
  display: flex;
}

.panes-space {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.reviews-space {
  width: 40%;
}

.review-box {
  width: 90%;
  margin: 10px;
}

.review-box p {
  font-size: 1rem;
  padding: 5px;
}

.error-message {
  width: 90%;
  height: 40px;
  
  background-color: rgb(228, 101, 101);
  border: 1px solid red;
  text-align: center;
}

footer {
  margin-top: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 151, 151, 0.589);
}


.effect {
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 30px;
  padding: 0;
  border: none;
  color: black;
}
.effect span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
}
.effect:before,
.effect:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(99, 90, 90);
  transition: all 0.3s ease;
}

.effect:before {
  height: 0%;
  width: 1px;
}

.effect:after {
  width: 0%;
  height: 1px;
}

.effect:hover:before {
  height: 100%;
}

.effect:hover:after {
  width: 100%;
}

.effect span:before,
.effect span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(99, 90, 90);
  transition: all 0.3s ease;
}

.effect span:before {
  width: 1px;
  height: 0%;
}

.effect span:after {
  width: 0%;
  height: 1px;
}

.effect span:hover:before {
  height: 100%;
}

.effect span:hover:after {
  width: 100%;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 250px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url('../images/btn_google_dark_focus_ios.svg') transparent 40% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

span.buttonText a {
  color: rgba(0, 0, 0, 0.54);
}

.fb {
  background-color: #3B5998;
  color: white;
}

.btn {
  width: 250px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

hr {
  width: 250px;
}

.btn:hover {
  opacity: 1;
}

#mymap {
  height: 400px;
}

.caption-style-4 {
  width: 100%;
  height: 100%;
  position: relative;
}

.caption-style-4:hover .caption{
  opacity: 1;
  z-index: 50;
}

.caption-style-4:hover img{
  opacity: 1;
  z-index: 0;
}

.caption-style-4 img{
  transition:all 0.25s ease-in-out;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

.caption-style-4 .caption{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition:all 0.45s ease-in-out;
  z-index: 5;
}

.caption-style-4 .blur{
  background-color: rgba(0, 0, 0, 0.418);
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
}

.caption-style-4 .caption-text h3{
  margin-top: 80%;
  text-transform: uppercase;
  font-size: 24px;
}

.caption-style-4 .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}